*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
nav{
    font-family: 'Inter', sans-serif;
    background-color: black;
    padding: 10px 0;
}
.container{
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    gap: 30px;
}
h1{
    text-align: center;
    margin-top: 30px;
}
.wrapper2{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
h2{
    text-align: center;
}
.wrapper3{
    display: flex;
}
nav{
    margin-bottom: 40px;
    margin-top: 20px;
}
font{
    color: #000;

font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
font2{
    color: #000;

    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    }   
font3{
    color: #000;

    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;   
}